<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Achievement count:</strong>
  <%= @route.achievement_count %>
</p>

<p>
  <strong>Played count:</strong>
  <%= @route.played_count %>
</p>

<p>
  <strong>Start location:</strong>
  <%= @route.start_location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @route.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @route.user %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
